<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

    {{>navbar}}
    {{!-- Hero Section Start --}}
    <div class="col-md-12 col-12 mx-auto">
        <div class="row">
            <div
                class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                <h1>WE WILL HELP YOU TO</h1>
                <h1>GROW YOUR BUSSINESS</h1>
                <p>We Are The Team of <span class="bold-style">Professional Developers</span></p>
                <button class="btn-style btn-primary">Read More</button>
            </div>
            {{!-- Right SIDE --}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                <figure>
                    <img src="images/growth.svg" alt="jerp""/>
               </figure>
           </div>
       </div>
   </div>
  

 {{!-- Hero  Section End --}}


 {{!-- About US Start --}}
  
 {{>about}}
 {{!-- About US End --}}

 
 {{!-- Services Start --}}
  
 {{>service}}
 {{!-- Services End --}}

  
 {{!-- Maps Start --}}
  
 {{>maps}}
 {{!-- Maps End --}}
 
 {{!-- Contact Start --}}
  
 {{>contact}}
 {{!-- Contact End --}}

    <script src=" ../jq/jquery.js" type="text/javascript"></script>
                    <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>